input[type='checkbox'] {
    width: 28px;
    height: 28px;

    background: white;
    border: 2px solid $light-grey;
    box-shadow: 0px 4px 8px $checkbox-border;
    border-radius: 4px;    

    margin-right: 8px;
}

input[type='checkbox']:checked {
    border-color: $light-blue;
}