@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Roboto:ital@0;1&display=swap);
@import url(https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap);
*,
*:before,
*:after {
  box-sizing: border-box; }

* {
  margin: 0;
  padding: 0; }

body {
  display: flex;
  flex-direction: column; }

main {
  flex: 1 0 auto; }

footer {
  flex: 0 0 auto; }

.wrapper {
  width: 85%;
  margin: auto; }

ul, li {
  list-style: none; }

a {
  text-decoration: none; }

input, select, option {
  outline: none; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none !important; }

select:not([multiple]) {
  background-repeat: no-repeat;
  background-position: calc(100% - 12px) 50%;
  background-size: 16px;
  background-image: url(/images/arrow-down.svg); }

select:not([multiple]):focus {
  background-image: url(/images/arrow-down-black.svg); }

.input {
  width: 100%;
  height: 52px;
  border: 1px solid #DBE2EA;
  padding-left: 16px;
  border-radius: 6px;
  box-shadow: 0px 4px 8px 0px rgba(44,39,56,0.03922);
  font-family: 'IBM Plex Sans', sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
  color: #2C2738; }
  .input > option {
    color: #756F86;
    height: 44px;
    border-radius: 6px;
    border: 1px solid #DBE2EA;
    box-shadow: 0px 20px 20px 0px rgba(44,39,56,0.03922);
    box-shadow: 0px 4px 8px 0px rgba(44,39,56,0.03922); }
  .input > option:checked {
    color: #756F86;
    background-color: #EBF4F8; }
  .input > option:active {
    color: #756F86;
    background-color: #EBF4F8; }
  .input > option:first-child {
    margin-top: 20px; }
  .input > option:last-child {
    margin-bottom: 20px; }

.input:active {
  border: 2px solid #0880AE; }

.input::-moz-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
  color: #7C9CBF; }

.input:-ms-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
  color: #7C9CBF; }

.input::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
  color: #7C9CBF; }

.button {
  height: 56px;
  background-color: #0880AE;
  border-radius: 6px;
  box-shadow: 0px 4px 8px 0px rgba(44,39,56,0.07843);
  box-shadow: 0px 2px 4px 0px rgba(44,39,56,0.07843);
  font-family: 'IBM Plex Sans', sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: center;
  color: #EBF4F8; }

.button:active {
  box-shadow: 0px 4px 8px 0px rgba(44,39,56,0.07843);
  box-shadow: 0px 2px 4px 0px rgba(44,39,56,0);
  border: 2px solid rgba(44,39,56,0.85882); }

.button:disabled {
  background: #DBE2EA;
  box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.08);
  color: #2C2738; }

input[type='checkbox'] {
  width: 28px;
  height: 28px;
  background: white;
  border: 2px solid #DBE2EA;
  box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04);
  border-radius: 4px;
  margin-right: 8px; }

input[type='checkbox']:checked {
  border-color: #0880AE; }

.registration {
  margin: 0 30px; }
  .registration-form {
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal; }
    .registration-form__title {
      font-size: 34px;
      font-weight: 700;
      line-height: 44px;
      letter-spacing: 0px;
      text-align: left;
      color: #2C2738;
      margin: 40px auto auto 0; }
    .registration-form__hint {
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0px;
      text-align: left;
      line-height: 32px;
      color: #2C2738;
      display: inline-block; }
      .registration-form__hint-link {
        color: #0880AE;
        display: inline-block;
        margin-left: 5px; }
    .registration-form__inputs {
      margin-top: 50px; }
    .registration-form__input {
      display: flex;
      flex-direction: column;
      margin-bottom: 33px; }
      .registration-form__input-label {
        font-size: 16px;
        font-weight: 500;
        line-height: 29px;
        letter-spacing: 0px;
        text-align: left;
        color: #756F86; }
        .registration-form__input-label > a {
          color: #0880AE; }
    .registration-form__signup {
      display: flex;
      margin-bottom: 38px; }
    .registration-form__button {
      margin-bottom: 40px;
      width: 100%; }

* {
  font-family: 'IBM Plex Sans', sans-serif;
  font-style: normal; }

.wrapper {
  padding-top: 40px; }

* {
  box-sizing: border-box; }

.group-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #888888;
  margin: 5px 0;
  border-radius: 5px 5px 0 0; }

.group-title {
  background-color: #d2dee2;
  display: flex;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid #888888;
  min-height: 25px; }
  .group-title__icon {
    margin-left: 5px; }
    .group-title__icon img {
      width: 25px;
      height: 25px;
      transition: transform 300ms ease; }
    .group-title__icon img.hidden {
      transform: rotate(180deg);
      transition: transform 300ms ease; }
  .group-title__title {
    font-weight: bold;
    font-size: 12px;
    line-height: 25px;
    padding-left: 10px; }

.item-container {
  display: flex;
  min-height: 25px; }

.item-title {
  font-size: 10px;
  font-weight: 400;
  padding: 5px;
  width: 100%;
  cursor: pointer; }

.item-price {
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
  width: 65px; }

.item-container:nth-child(odd) {
  border-right: 1px solid #888888; }

.items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%; }

.course {
  margin-top: 20px; }
  .course-title {
    font-size: 14px; }
  .course > input {
    height: 25px;
    width: 80px;
    padding-left: 20px;
    margin-top: 10px; }

.catalog-wrapper {
  margin: 0 auto;
  max-width: 1000px; }

.table {
  margin-top: 40px; }

.last-update {
  margin: 20px 0;
  font-size: 10px; }

.price-down {
  background-color: rgba(0, 128, 0, 0.4); }

.price-up {
  background-color: rgba(247, 30, 30, 0.4); }

