//--
$light-blue: #0880AE;
$grey: #2C2738;

$input-placeholder: #7C9CBF;
$light-grey: #DBE2EA;
$input-shadow: #2C27380A;

$button-shadow: #2C273814;
$button-shadow-active: #2C273800;
$button-border:#2C2738DB;
$button-disabled-shadow:rgba(44, 39, 56, 0.08);

$button-font-color: #EBF4F8;
$button-font-color-disabled: #2C2738;

$checkbox-border: rgba(44, 39, 56, 0.04);

$brown: #756F86;

$red: #FF7171;